{
    "consumerKey": "pFtPOLUXBXDtPHokigyXN9UAT",
    "consumerSecret": "FlGNi9fhU2q3Ucfi5M9czBraY3QxEkPflLntLJgrBjA0ecMpon",
    "accessToken": "978792919-URT380OU0ofxqomr8hUPXOxgoJAMRqUODAGQEdoQ",
    "accessTokenSecret": "4Gx37DpzwwVcBszGP51hUwegmuFnSsxUZ9IbuizUbbfMW",
    "callBackUrl": "{callBackUrl}"
}
